*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    box-shadow: 0 24px 16px 0 rgba(0,0,0,0.1) inset;
    height: 82vh;
}

a {
    color: #0f0f0f;
    text-decoration: none;
    transition: all 100ms ease-out;
}

button {
    cursor: pointer;
    border-style: none;
}

h4 {
    font-size: 12px;
}

nav {
    position: relative;
    background-color: #438bc2;
    padding: 16px 0;
}

.row {
    max-width: 1050px;
    margin: auto;
}

.first__part {
    display: flex;
    justify-content: center;
}


nav .box-1{
    max-width: 800px;
    padding-right: 600px;
}

nav .right__box {
    white-space: nowrap;
    padding: 32px 6px;
    display: flex;
    text-align: right;
}

nav .left-subox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .vinewood {
    margin-right: 16px;
    font-size: 12px;
    color: white;
    margin-bottom: 0.6rem;
}

hr {
    border: 1.5px solid white;
    scale: 0.8;
}

nav .day {
    margin-right: 16px;
    font-size: 18px;
    color: white;
}

.right-subox {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav .searchandfind {
    max-width: 1007px;
    margin: 0 auto;
}

nav .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

nav .search {
    width: 73%;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 5px 10px 35px;
    border-style: none;
}

nav .fa-magnifying-glass {
    position: absolute;
    font-size: 20px;
    left: 8px;
    top: 12px;
}

nav .search::placeholder {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

nav .search:focus {
    font-size: 20px;
}

nav .findbutton {
    padding: 9px 64px;
    border-radius: 6px;
    font-size: 20px;
    background-color: #02728e;
    color: white;
    transition: all 200ms ease-out;
}

nav .findbutton:hover {
    background-color: #42a8f6;
}

.yellowborder {
    border: 6px solid #fdbe00;
    scale: 1;
}

.guidebar {
    outline: 2px solid #dedfde;
    height: 4rem;
    background-color: #eeefee;
    display: flex;
}

.guidebar__row {
    height: 100%;
    width: 100%;
    max-width: 1050px;
    margin: auto;
    display: flex;
}

.guidebar__box {
    flex: 1;
    height: inherit;
    display: flex;
    align-items: center;
    text-align: center;
    border-left: 2px solid #dedfde;
}

.image__holder {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    margin-left: 0.5rem;
}

.guidebar__icon {
    width: 100%;
}

.guidebar__icon:hover {
    color: #42a8f6;
}

.guidebar__box:first-child {
    border-left: none;
}

.link__holder{
    margin: 0 1rem;
}

.guidebar__box:nth-child(3) .link__holder {
    margin-right: 0;
    margin-left: 0.5rem;
}

.guidebar__box:nth-child(4) .link__holder {
    margin: 0;
}

.guidebar__box:nth-child(4) .image__holder {
    margin-left: 0.3rem;
}


/**
This is where the new section begins
**/

section {
    width: 100%;
    height: 90vh;
    margin-top: 2rem;
    outline: 2px solid darkblue;
}

.container {
    max-width: 1050px;
    height: 100%;
    outline: 2px solid red;
    margin: auto;
}

.main-content {
    height: 60vh;
    max-width: 660px;
    outline: 2px solid;
}

.newsstory {
    width: 100%;
    height: 35vh;
    outline: 2px solid #02728e;
    margin-bottom: 1rem;
}

.websiteminute {
    width: 100%;
    height: 22.6vh;
    outline: 2px solid salmon;
}